.header {
  max-width: 880px; /*based on 1280px figma */
  margin: auto; /*center it*/
}

.header__image {
  margin: 45px 0px 41px 0px; /* top right bottom left */
}

.header__line {
  margin: 0px 0px 40px 0px; /* top right bottom left */
  opacity: 0.7;
  border: 1px solid #545454;
}

/*styles for 320px screen*/
@media screen and (max-width: 660px) {
  .header__image {
    height: 24px;
    margin-left: 27px;
  }
}
