.profile {
  display: grid;
  grid-template-areas: "avatar info add-button";
  /*set these values on the objects with grid-area:name */
  margin: 0px auto 46.25px auto; /* top right bottom left */
  max-width: 902.5px;
  grid-column-gap: 0px; /*165px;*/
  grid-template-columns:
    minmax(auto, 120px)
    minmax(auto, 580px) /*415 for the content */
    minmax(auto, 150px);
  width: fit-content; /*gets rid of extra grid space and allows it to be centered */
  align-items: center;
}

.profile__avatar {
  grid-area: avatar; /*NO QUOTES */
  border-radius: 50%; /*circular crop */
  /*make image square so that is is circle crop and not ellipse */
  width: 120px;
  height: 120px;
  object-fit: cover; /*so that image is not stretched */
  margin: 0px 30px 0px 0px; /* top right bottom left */
}

.profile__info {
  grid-area: info; /*NO QUOTES */
  margin: 0px;
  padding: 0px;
}

.profile__info-name {
  margin: 0px;
  padding: 0px;
  font-family: "Inter", "Arial", sans-serif; /*fallback fonts */
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  display: inline-block; /*so that button appears next to it */
}

.profile__info-title {
  margin: 16px auto 0px auto; /* top right bottom left */
  padding: 0px;
  font-family: "Inter", "Arial", sans-serif; /*fallback fonts */
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.profile__info-edit-button {
  background-color: black;
  outline: none;
  border: 1px solid #ffffff;
  box-sizing: border-box; /*border-box means border and padding is accounted for in size*/
  margin-left: 18px;
  width: 24px;
  height: 24px;
}

.profile__add-button {
  grid-area: add-button; /*NO QUOTES */
  min-height: 50px;
  background-color: black;
  outline: none;
  border: 2px solid #ffffff;
  box-sizing: border-box; /*border-box means border and padding is accounted for in size*/
  border-radius: 2px;
  cursor: pointer; /*mouse changes on hover */
}
