.header {
  max-width: 880px; /*based on 1280px figma */
  margin: 0px auto 40px auto; /* top right bottom left */
  border-bottom: 1px solid rgba(84, 84, 84, 0.7); /*need rgba to set opacity */
}

.header__image {
  margin: 45px 0px 41px 0px; /* top right bottom left */
}

/*styles for 320px screen*/
@media screen and (max-width: 660px) {
  .header {
    margin: 0px auto 42px auto; /* top right bottom left */
  }

  .header__image {
    height: 24px;
    margin: 28px 0px 32px 27px; /* top right bottom left */
  }
}
